
    select.form-control{
    border: none;
    padding-left: 18px;
    font-weight: 530;
    font-size: 0.39cm;
    color: #666;
}
    option{
        border: none;
        padding-left: 18px;
        font-weight: 530;
        font-size: 0.39cm;
        color: #666;
    }

    #cancel, #clearTask, #saveTask{
        float: right;
        margin-right: 5px;
        position: relative;
    }

    table.table.table-top-campaign {
        width: fit-content;
        display: inline;
    }

    .top-campaign {
        max-width: 100%;
    }

    #addTaskBtn{
        height: 35px;
        width: 47px;
        float: right;
    }