    .table-data2.table tbody td{
        padding: 15px 40px;
    }

    #mainContainer {
        padding-left: 50px;
    }

    #container{
        margin-left: 6%;
    }

    #row1{
        spadding-left: 30px;
    }


    #row2{
        flex:0 0 50%;
    }

    .table-data2.table tbody tr td:first-child {
        vertical-align: middle;
    }

    @media (max-width: 991px) {
        #container {
            margin-left: 0px;
        }

        #mainContainer {
            padding-left: 7%;
        }

        #row1 {
            padding-left: 0px;
        }

        #row2 {
            flex: 0 0 70%;
        }

        .table-data2.table tbody td {
            padding: 15px 15px;
        }
    }

    @media (max-width: 991px){

        #row2 .col-md-12{
            padding-left: 8px;
        }
        .table-data2.table thead th {

            padding: 15px 15px;

        }
    }

    .studentGrade{
        /*background: rgb(90, 98, 104);*/
        display: inline-block !important;
        line-height: 30px !important;
        font-size: 14px !important;
        color: #fff !important;
        padding: 0 15px !important;
        -webkit-border-radius: 3px !important;
        -moz-border-radius: 3px !important;
        border-radius: 3px;
        text-transform: capitalize;
        min-width: 38.3px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-align: center;
    }